<section>
    <div class="section_content">
        <div class="my_picture">
            <img class="foreground" src="../../../assets/img/picture-of-me.png" alt="">
            <img class="background" src="assets/img/background-my-picture.png" alt="">
        </div>
        <div class="about_me">
            <h4>Who I Am</h4>
            <div class="info_container">
                <h1>About me</h1>
                <div class="info_content">
                    <p>Hi, I'm a german speaking Frontend Developer based in Zug. Motivated by the limitless
                        opportunities
                        within IT, I am excited about crafting visually captivating and intuitive websites and
                        applications</p>
                    <div class="content_sector">
                        <img src="assets/img/location-icon-green.png" alt="">
                        <span>Flexible in terms of working environments. I can work effectively both on-site in Zug and
                            remotely</span>
                    </div>
                    <div class="content_sector">
                        <img src="assets/img/mindset-icon-green.png" alt="">
                        <span>I am open-minded and always looking for personal challenges to constantly improve my
                            knowledge
                            and
                            skills.</span>
                    </div>
                    <div class="content_sector">
                        <img src="assets/img/profession-icon-green.png" alt="">
                        <span>In my profession, programming isn't just about writing code; it's a creative form of
                            problem-solving. I take pride in my ability to distill complex technical challenges into
                            simple,
                            user-friendly solutions. This way, I help you achive your goals and bring your visions to
                            life.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>