<section>
    <div class="section_content">
        <div class="welcome_content">
            <div class="arrow_down">
                <button class="animated_button">
                    <img src="assets/img/arrow-down-header.png" alt="">
                </button>
                <div class="vector_left"></div>
            </div>
            <div class="main_section">
                <div class="headline">
                    <h3>Frontend Developer</h3>
                    <h1>Josy Krüger</h1>
                </div>
                <div class="btn_section">
                    <button>Check my work</button>
                    <button>Contact me</button>
                </div>
            </div>
            <div class="header_contacts">
                <span>JosyKrueger2&#64;web.de</span>
                <div class="margin">
                    <a href=""><img src="assets/img/github-icon-green.png" alt=""></a>
                    <a href=""><img src="assets/img/linkedin-icon-green.png" alt=""></a>
                    <div class="vector_right"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="banner">
    <div class="banner_content">
        <div class="content-inner">
            <img src="assets/img/point-green.png" alt="">
            <p>Available for Remote work</p>
            <img src="assets/img/point-green.png" alt="">
            <p>Frontend Developer</p>
            <img src="assets/img/point-green.png" alt="">
            <p>Based in Zug</p>
            <img src="assets/img/point-green.png" alt="">
            <p>Open to work</p>
        </div>
        <div class="content-inner">
            <img src="assets/img/point-green.png" alt="">
            <p>Available for Remote work</p>
            <img src="assets/img/point-green.png" alt="">
            <p>Frontend Developer</p>
            <img src="assets/img/point-green.png" alt="">
            <p>Based in Zug</p>
            <img src="assets/img/point-green.png" alt="">
            <p>Open to work</p>
        </div>
    </div>
</div>