<section>
    <nav>
        <div class="links">
            <img [src]="imageSrc" (mouseover)="imageSrc='assets/img/english-hover.png'"
                (mouseout)="imageSrc='assets/img/english.png'" alt="English">
            <img class="d_none" src="../../../assets/img/german.png" alt="">
            <a href="">About me</a>
            <a href="">Skills</a>
            <a href="">Projects</a>
        </div>
        <div class="logo">
            <div class="abbreviation">
                <h3 class="fristname">Josy</h3>
                <h4 class="first_name_letter">J</h4>
                <h4 class="last_name_letter">K</h4>
            </div>
            <div class="name">
                <h3 class="lastname">Krüger</h3>
            </div>
        </div>
    </nav>
</section>