<section>
    <nav>
        <div class="links">
            <img [src]="imageSrc" (mouseover)="imageSrc='assets/img/english-hover.png'"
                (mouseout)="imageSrc='assets/img/english.png'" (click)="translateWebsite()" alt="English">
            <a href="">{{ 'about_me' | translate }}</a>
            <a href="">{{ 'skills' | translate }}</a>
            <a href="">{{ 'projects' | translate }}</a>
        </div>
        <div class="logo">
            <div class="abbreviation">
                <h3 class="fristname">Josy</h3>
                <h4 class="first_name_letter">J</h4>
                <h4 class="last_name_letter">K</h4>
            </div>
            <div class="name">
                <h3 class="lastname">Krüger</h3>
            </div>
        </div>
    </nav>
</section>