<section>
    <div class="section_content">
        <div class="headline">
            <h1>What my colleagues say about me</h1>
        </div>
        <div class="review_container">
            <ng-container *ngFor="let review of reviews; let i = index">
                <div class="review" [class.active]="i === currentIndex">
                    <p>{{ review.quote }}</p>
                    <span>{{ review.author }}</span>
                </div>
            </ng-container>
        </div>
        <div class="carousel-controls">
            <button class="prev" (click)="prevReview()">←</button>
            <button class="next" (click)="nextReview()">→</button>
        </div>
    </div>
</section>