@import '../../../styles.scss';
@import '../../../mixin.scss';

section {
    background-color: #1C1C1C;
    height: 50vh;

    .section_content {
        height: 80vh;
        max-width: 1260px;
        @include contentPadding();
    }

    .headline {
        margin-top: 120px;

        h1 {
            font-family: 'Fira Code', sans-serif;
            font-weight: 700;
            font-size: 32px;
            color: #3DCFB6;
        }
    }
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 80%;
    height: 280px;
    margin: 0 auto;
    overflow: hidden;
}

.review_container {
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease;
    width: 100%; 
    position: relative;
    margin: auto;
}

.review {
    width: 500px;
    height: 150px;
    opacity: 0.5;
    padding: 25px;
    margin-top: -50px;
    background-color: #1F2E2B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    color: #FFFFFF;
    border: 1px solid #3DCFB6;
    text-align: center;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateX(0);
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Karla', sans-serif;
    word-spacing: 1px;

    p {
        text-align: justify;
        font-size: 18px;
        margin: 0;
    }

    span {
        text-align: end;
        font-size: 16px;
    }
}

.active {
    opacity: 1;
    background-color: #26524B;
    transform: translateX(0) scale(1.05); /* Die mittlere Review bleibt zentriert und wird leicht skaliert */
    z-index: 1; /* Die aktive Review bleibt im Vordergrund */
}

.prev-review {
    transform: translateX(-120%); /* Die vorherige Review wird nach links geschoben */
}

.next-review {
    transform: translateX(120%); /* Die nächste Review wird nach rechts geschoben */
}

.carousel-controls {
    display: flex;
    align-items: center;
    margin-top: 100px;

    .prev, .next {
        background-color: transparent;
        color: #3DCFB6;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        margin: 0 20px;
    }

    .prev:hover, .next:hover {
        color: #FFFFFF;
    }
}

.carousel-indicators {
    display: flex;
    gap: 10px;

    span {
        display: block;
        width: 10px;
        height: 10px;
        background-color: #3DCFB6;
        border-radius: 50%;
        transition: background-color 0.3s ease;
    }

    .active {
        background-color: #FFFFFF;
    }
}