<app-header></app-header>

<section>
    <div class="section_content">
        <h1>{{ 'imprint' | translate }}</h1>
        <div class="imprint_content">
            <p>Josy Krüger</p>
            <p>Alpenblick 9</p>
            <p>6330 Cham</p>
            <p>JosyKrueger2&#64;web.de</p>
        </div>
        <div class="back_to_homepage">
            <a href="/main">{{ 'back_to_homepage' | translate }} <img src="../../assets/img/arrow-forward-green.png" alt=""></a>
        </div>
    </div>
</section>

<app-footer></app-footer>